<ion-header>
  <ion-toolbar>
    <ion-title>
      Resultado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Resultados</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Asignatura: {{ asignatura }}</p>
      <p>Nota 1: {{ nota1 }}</p>
      <p>Nota 1: {{ nota1 }}</p>
      <p>Nota 1: {{ nota1 }}</p>
      <!-- Mostrar otros resultados y cálculos aquí -->
    </ion-card-content>
  </ion-card>

  <ion-button (click)="retroceder()">Retroceder</ion-button>
</ion-content>
