<ion-header>
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Asignatura</ion-label>
    <ion-input [(ngModel)]="asignatura" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nota 1 (30%)</ion-label>
    <ion-input [(ngModel)]="nota1" type="number" step="0.1" min="1.0" max="7.0" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nota 2 (40%)</ion-label>
    <ion-input [(ngModel)]="nota2" type="number" step="0.1" min="1.0" max="7.0" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nota 3 (30%)</ion-label>
    <ion-input [(ngModel)]="nota3" type="number" step="0.1" min="1.0" max="7.0" required></ion-input>
  </ion-item>

  <!-- Otros campos para las notas -->

  <ion-button expand="full" (click)="calcular()">Calcular</ion-button>
</ion-content>
